input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #8a8b8e;
  border: 1px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

button{
padding:20px ;
width:100%;
background-color:#3ca9e2;
border:none;
color: white;
font-weight: bold;
cursor: pointer;
font-size:18px;

}

form{
    padding:0 60px;
}

.wrap{
    padding:20px 0 0 0;
    width:35%;
    margin:30px auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}
h2 {
    font-weight: 300;
    text-align: center;
  }


  body{
    background-color: #9f9da7;
    color: #2b3e51;
    font-family: "Open Sans", sans-serif;

  }

  .forgot{
background-color:#eeedf1;
color: #8a8b8e;
padding:10px 0;
font-size:14px;
  }